*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	color: #333;
	font-size: 14px;
	width: 100%;
	background: #f5f5f5;
}
.clearfix:after{
	clear:both;
}
.row:after{
	display: table;
	content: " ";
	clear: both;
}
.col-cus-12,.col-cus-11,.col-cus-10,.col-cus-9,.col-cus-8,.col-cus-7,.col-cus-6,.col-cus-5,.col-cus-4,.col-cus-3,.col-cus-2,.col-cus-1{
	float: left;
	padding: 0 8px;
}
.col-cus-12 {
    width: 100%
}

.col-cus-11 {
    width: 91.66666667%
}

.col-cus-10 {
    width: 83.33333333%
}

.col-cus-9 {
    width: 75%
}

.col-cus-8 {
    width: 66.66666667%
}

.col-cus-7 {
    width: 58.33333333%
}

.col-cus-6 {
    width: 50%
}

.col-cus-5 {
    width: 41.66666667%
}

.col-cus-4 {
    width: 33.33333333%
}

.col-cus-3 {
    width: 25%
}

.col-cus-2 {
    width: 16.66666667%
}

.col-cus-1 {
    width: 8.33333333%
}
.row{
	margin-top: 25px;
	margin-bottom: 25px;
}
.cus-form-group:nth-child(odd), .cus-form-group:nth-child(even){
	margin-bottom: 5px;
}
.cus-form-group:nth-child(odd){
	padding-right: 2.5px;
}
.cus-form-group:nth-child(even){
	padding-left: 2.5px;
}
.cus-form-group > label, .cus-form-group > input{
	padding: 0;
	height: 25px;
	line-height: 25px;
}
.cus-form-group > label{
	width: 35%;
	font-size: 12px;
}
.cus-form-group > input{
	padding: 0 3px;
	width: 65%;
	border:1px solid #ccc;
	border-radius: 3px;
}
.btn-block{
	padding: 0 40px;
	margin-top: 13px;
}
.btn-block > button{
	width: 100%;
	padding: 5px 0;
	border: 3px solid #b6b6b6;
	border-radius: 4px;
	background: #ebebeb;
}
.pull-left{
	float: left;
}
.detailStatus > span input{
	padding: 5px 0;
	width: 100%;
	color: #ff8800;
	border: 3px solid #ff8800;
	border-radius: 4px;
	background: #fff;
}
.detailStatus > a{
	text-align: right;
	text-decoration: none;
	line-height: 30px;
	font-size: 12px;
	color: #64b771;
}
.detailReason{
	margin-top: -20px;
}
.detailReason .col-cus-2{
	width: 16.66666667%;
}
.detailReason textarea{
	border: 1px solid #ccc;
  	border-radius: 3px;
  	resize: none;
  	height: 60px;
}
.btnSubmit{
	margin: 0 auto;
	padding: 5px 0;
	display: block;
	text-align: center;
	width: 130px;
	border-radius: 4px;
	border: 3px solid #64b771;
	background: #fff;
	color: #64b771;
}
.error{
  font-size: 12px;
  color: red;
}














